* {
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}
body {
    background-color: #000;
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: scroll;
}

P {
    color: rgb(255, 0, 55);
    font-weight: bold;
}
b {
    color: rgb(132, 31, 209);
}
.taskBlock {
    margin: 20px 0 0 0;
    border: 2px solid #ffffffd6;
    display: flex;
    padding: 8px;
    width: auto;
    gap: 16px;
    transition: 0.1s;
}
.taskBlock:hover {
    opacity: 0.7;
}

/* Todo lists */
.TodoList {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.SearchBar {
    display: flex;
    padding: 5px 0px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 40px;
    font-weight: bold;
    border: none;
    background-color: #000000;
    border: 2px solid #fff;
    color: #33c1a7;
}
.SearchBar:hover {
    padding: 5px 22px;
    background-color: rgb(43, 218, 168);
    overflow: hidden;
    background: linear-gradient(90deg, #1ffdbe, rgb(32, 14, 55), rgb(92, 10, 10), #fd1f1f);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: 2px solid #000;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 
  
input {
    width: 200px;
}
.todoBlock {
    display: flex;
    gap: 16px;
    flex-direction: column;
    cursor: pointer;
}
.TodayTodo {
    padding: 3px 0 3.8px 0;
    background-color: #000000;
    border: 2px solid #ffffff74;
    color: #33c1a7;
    transition: 0.2s;
}
.TodayTodo:hover {
  border: 2px solid #ffffffcf;
  cursor: pointer;
}
.todoButton {
    cursor: cell;
    width: 40px;
    border: 2px solid rgba(132, 31, 209, 0.456);
    transition: 0.2s;
    background-color: #000000;
}
.todoButton:hover {
    border-color: rgb(132, 31, 209);
}
.todoButton:hover .todoButton--icon {
  opacity: 1;
}
.todoButton--icon {
  font-size: 25px;
  opacity: 0.6;
  transition: 0.3s;
}

.todoBlock--indent {
    margin-right: 60px;
    cursor: cell;
    font-weight: normal;
}
.hover {
    cursor: pointer;
}
.editInput {
    margin-top: 10px;
    border: 2px solid #ffffff80;
    display: flex;
    padding: 8px;
    width: auto;
    gap: 16px;
    background-color: #000000;
    border: 2px solid #ffffff74;
    color: #efefef;
    transition: 0.3s;
    margin-bottom: 10px;
}.editInput:hover {
  cursor: pointer;
  color: #c95009;
  border: 2px solid #c95009;
}

  
  @keyframes moveCircle {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(50vw, 0);
    }
    50% {
      transform: translate(100vw, 50vh);
    }
    75% {
      transform: translate(0, 100vh);
    }
    100% {
      transform: translate(50vw, 0);
    }
  }

  .Save {
    font-size: 40px;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: -30px;
 }
 .moon {
    width: 350px;
    margin: 0 auto;
 }
 .icon--block {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -28px 36px rgb(39, 216, 192);
    margin-bottom: 40px;
    display: flex
 }


